@page
@model IndexModel
@using System.IO
@{
    ViewData["Title"] = "Home page";

    Model.FolderNames = Functions.getFoldersByDirectory(new DirectoryInfo("wwwroot/testData/" + Model.CurrentPath)).ToList();
    string p = "";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var pathPart in Model.PathParts)
        {
            p += pathPart + "/";
            <li class="breadcrumb-item"><a asp-route-path="@Convert.ToBase64String(System.Text.UTF8Encoding.UTF8.GetBytes(p))">@pathPart</a></li>
        }
    </ol>
</nav>
<ul>
    @foreach (var folderName in Model.FolderNames)
    {
        <li><a asp-route-path="@Convert.ToBase64String(System.Text.UTF8Encoding.UTF8.GetBytes(Model.CurrentPath + "/" + folderName))">@folderName</a></li>
    }
</ul>
