@{
    bool IsActive(string s)
    {
        return s.ToLower() == Context.Request.Path.ToString().ToLower();
    }
}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" asp-area="" asp-page="/Index">Torrent File Server</a>
    <button class="navbar-toggler navbar-dark"
            type="button"
            data-toggle="collapse"
            data-target="#mainNavBar"
            aria-controls="mainNavBar"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link @(IsActive("/") ? "active" : "")" asp-area="" asp-page="/Index">Browse</a></li>
            <li class="nav-item"><a class="nav-link @(IsActive("/Torrents") ? "active" : "")" asp-area="" asp-page="/Torrents">Torrents</a></li>
        </ul>
    </div>
</nav>